.header {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 2;
}
.header__mobile-menu {
    margin-right: 15px;
}
.header__right-items {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header__cart {
    margin-right: 15px;
    display: grid;
    grid-template: 1fr / 1fr;
    height: 25px;
    width: 27px;
}
.cart__icon {
    transition: color .2s;
    color: var(--dark-grayish-blue);
    grid-area: 1 / 1 / 1 / 1;
    align-self: flex-end;
}
.cart__icon:hover {
    color: var(--black)
}
.cart__quantity {
    grid-area: 1 / 1 / 1 / 1;
    justify-self: flex-end;
    background-color: var(--orange);
    color: var(--white);
    padding: 0 6px;
    border-radius: 7px;
    font-size: .65em;
    font-weight: 700;
    align-self: flex-start;
}
.header__user-avatar {
    width: 25px;
}
.nav {
    position: fixed;
    background-color: var(--white);
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    padding-top: 25px;
    padding-left: 25px;
    z-index: 3;
    transition: width .2s, padding-left .2s;
    overflow: hidden;
}
.nav--closed {
    width: 0;
    padding-left: 0;
}
.nav__close-icon {
    margin-bottom: 50px;
}
.nav__close-icon:hover {
    cursor: pointer;
}
.nav__list {
    list-style: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav__option {
    font-weight: 700;
    font-size: 1.1em;
}
.nav__option:hover {
    cursor: pointer;
}
.nav-dark-bg {
    position: fixed;
    background-color: var(--black);
    opacity: .75;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    transition: opacity .2s;
}
.nav-dark-bg--closed {
    opacity: 0;
    width: 0;
    transition: opacity .2s, width .03s .19s;

}
.header__cart:hover, 
.header__mobile-menu:hover, 
.header__user-avatar:hover {
    cursor: pointer;
}

@media (min-width: 790px) {
    .header {
        padding: 30px 5%;
    }
    .header::before {
        content: '';
        position: fixed;
        width: 90%;
        height: 110px;
        margin-left: 5%;
        margin-right: 5%;
        top: 0;
        left: 0;
        border-bottom: 1px solid var(--grayish-blue);
        z-index: -1;
    }
    .header__mobile-menu {
        display: none;
    }
    .nav {
        display: block;
        position: static;
        margin-left: 40px;
        background-color: transparent;
        height: auto;
        width: auto;
        padding: 0;
        z-index: 0;
        transition: unset;
        overflow: visible;
    }
    .nav__close-icon {
        display: none;
    }
    .nav__list {
        display: flex;
        list-style: none;
        font-size: .95em;
        font-weight: 400;
        height: auto;
        flex-direction: row;
        justify-content: flex-start;
    }
    .nav__option {
        margin: 0 16px;
        color: var(--dark-grayish-blue);
        position: relative;
        transition: color .2s;
        font-weight: 500;
        font-size: 1em;
    }
    .nav__option::after {
        content: '';
        position: absolute;
        width: 0;
        height: 4px;
        background-color: var(--orange);
        left: 50%;
        bottom: -45.5px;
        transition: all .2s;
    }
    .nav__option:hover {
        color: var(--black);
    }
    .nav__option:hover::after {
        left: 0;
        width: 100%;
    }
    .nav-dark-bg {
        display: none;
    }
    .header__user-avatar {
        width: 50px;
        transition: border .1s;
        border-radius: 50%;
    }
    .header__user-avatar:hover {
        border: 2px solid var(--orange);
    }
}
@media (min-width: 990px) {
    .header {
        padding: 30px 11%;
    }
    .header::before {
        width: 78%;
        margin-left: 11%;
        margin-right: 11%;
    }
}
