.header {
    display: flex;
    padding: 20px 25px;
    align-items: center;
}
.header__mobile-menu {
    margin-right: 15px;
}
.header__right-items {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header__cart {
    margin-right: 20px;
}
.header__user-avatar {
    width: 25px;
}
.desktop-nav {
    display: none;
}
.header__cart:hover, 
.header__mobile-menu:hover, 
.header__user-avatar:hover {
    cursor: pointer;
}

@media (min-width: 790px) {
    .header {
        padding: 30px 0;
        margin: 0 5%;
        border-bottom: 1px solid var(--grayish-blue);
    }
    .header__mobile-menu {
        display: none;
    }
    .desktop-nav {
        display: block;
        margin-left: 40px;
    }
    .desktop-nav__list {
        display: flex;
        list-style: none;
        font-size: .95em;
        font-weight: 400;
    }
    .desktop-nav__option {
        margin: 0 16px;
        color: var(--dark-grayish-blue);
    }
    .desktop-nav__option:hover {
        color: var(--black);
        cursor: pointer;
    }
    .header__user-avatar {
        width: 50px;
    }
}
@media (min-width: 990px) {
    .header {
        margin: 0 11%;
    }
}
