.product-page {
    margin-top: 65px;
}
.img-container {
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr;
}
.img-container__image {
    width: 100%;
    aspect-ratio: 5 / 4;
    object-fit: cover;
    grid-area: 1 / 1 / 1 / 1;
}
.img-container__button {
    background-color: var(--white);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    grid-area: 1 / 1 / 1 / 1;
    align-self: center;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--very-dark-blue);
    transition: color .2s;
}
.img-container__button:hover {
    cursor: pointer;
    color: var(--orange)
}
.img-container__button--left {
    justify-self: flex-start;
    margin-left: 18px;
}
.img-container__button--right {
    justify-self: flex-end;
    margin-right: 18px;
}
.button__icon {
    transform: scale(.8);
}
.img-container__thumbnail {
    display: none;
}

.info { 
    padding: 7%;
    margin-bottom: 70px;
}
.info__company {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8em;
    letter-spacing: .1em;
    color: var(--orange);
    margin-bottom: 15px;
}
.info__name {
    font-size: 1.8em;
    color: var(--very-dark-blue);
    line-height: 1.1em;
    margin-bottom: 20px;
}
.info__description {
    color: var(--dark-grayish-blue);
    font-size: .94em;
    line-height: 1.7em;
    margin-bottom: 30px;
}
.info__price-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    align-items: center;
    margin-bottom: 25px;
}
.info__discount-container {
    display: flex;
    align-items: center;
}
.info__current-price {
    font-size: 1.7em;
    margin-right: 15px;
    color: var(--very-dark-blue);
}
.info__discount {
    padding: 3px 8px;
    border-radius: 7px;
    background-color: var(--orange-trans10);
    color: var(--orange);
}
.info__price {
    justify-self: flex-end;
    text-decoration: line-through;
    color: var(--grayish-blue);
}
.info__add-item {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    height: 125px;
    row-gap: 15px;
}
.add-item__quantity-container {
    background-color: var(--ligth-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    border-radius: 10px;
}
.add-item__icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: none;
    color: var(--orange);
    transition: opacity .2s;
}
.add-item__icon-button:hover {
    opacity: .5;
    cursor: pointer;
}
.add-item__icon-button:active {
    opacity: .85;
}
.add-item__quantity {
    font-weight: 700;
}
.add-item__add-button {
    border: none;
    background-color: var(--orange);
    border-radius: 10px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .2s;
    position: relative;
    box-shadow: 0 35px 30px -10px hsl(26deg 100% 55% / .2);
}
.add-item__add-button:hover {
    opacity: .75;
    cursor: pointer;
}
.add-item__add-button:active {
    opacity: .9;
}
.add-button__icon {
    transform: scale(.8);
    margin-right: 13px;
}
.add-button__text {
    font-weight: 700;
    font-size: 1.2em;
    font-family: 'Kumbh Sans', sans-serif;
}
.lightbox-container {
    display: none;
}
@media (min-width: 650px) {
    .product-page {
        padding-top: 25px;
    }
    .img-container {
        width: 450px;
        display: grid;
        grid-template: 1fr 100px / 1fr;
        margin: 0 auto;
        row-gap: 30px;
    }
    .img-container__image {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 15px;
    }
    .img-container__button {
        display: none;
    }
    .img-container__thumbnail {
        display: block;
    }

    .info { 
        width: 450px;
        padding: 0;
        margin: 30px auto 70px auto;
    }
    .info__company {
        font-size: .9em;
        margin-bottom: 20px;
    }
    .info__name {
        font-size: 2.7em;
        margin-bottom: 35px;
    }
    .info__description {
        font-size: 1em;
    }
    .info__price-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 35px;
        height: 65px;
    }
    .info__add-item {
        grid-template: 1fr / 40% 60%;
        height: 55px;
        column-gap: 15px;
    }
}
@media (min-width: 790px) {
    .product-page {
        margin-top: 111px;
        padding-top: 50px;
    }
}
@media (min-width: 990px) {
    .product-page {
        margin-top: 111px;
        padding-top: 90px;
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        align-items: center;
        column-gap: 4%;
    }
    .img-container {
        width: 450px;
        display: grid;
        grid-template: 1fr 100px / 1fr;
        margin: 0 0;
        row-gap: 30px;
        justify-self: flex-end;
    }
    .info { 
        width: 450px;
        padding: 0;
        justify-self: flex-start;
        margin: 0;
        margin-bottom: 30px;
    }
}
@media (min-width: 1150px) {
    .product-page {
        column-gap: min(9%, 130px);
    }
}